.autotools
.cproject
.project

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps
src/Makefile
src/Makefile.in
test-driver

build-aux
src/targz_sizes
src/targz_sizes.o

*.log
*.trs
*-testdir
